body {
  font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  border-width: 0;
  cursor: pointer;
}

#custImage {
  position: relative;
  list-style-type: none;
  padding-right: 5px;
  z-index: 1000;
  /* 1 */
  display: inline-block;
  text-align: center;
}


#timeTaken {
  position: relative;
  padding-left: 50%;
  z-index: 1000;
  /* 1 */
  display: inline-block;
  text-align: center;
}

#forPuzzle {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFBE7;
  overflow: hidden;
  border-radius: 16px;
}

.polypiece {
  display: block;
  overflow: hidden;
  position: absolute;
}

.moving {
  transition-property: top, left;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.gameCanvas {
  display: none;
  overflow: hidden;
  position: absolute;
}
